@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal; /*css4. 웹 폰트*/
}

form {
    margin-left: 30px;
}

textarea {
    margin-left: 30px;
}

input {
    margin-left: 30px;
}

body {
    font-family: 'SOYOMapleBoldTTF';
}