@font-face {
    font-family: 'TAEBAEKfont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TAEBAEKfont';
    background-color: rgb(244, 219, 27);    /*css 조건 3번 만족*/
    padding: 10px 20px;
}

h1 {
    color: rgb(228, 39, 200);
}

h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 5px;
}

h3 {
    font-weight: 300;
}

textarea {
    line-height: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(228, 39, 200);
    color: rgb(244, 219, 27);
    padding: 5px 5px;
}