@font-face {
    font-family: 'TAEBAEKfont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TAEBAEKfont';
    background-image: url("../image/introduce.jpg");
    background-size: cover;
}

mark {
    font-size: 50px;
    font-weight: 300;
    background-color: rgb(244, 219, 27);
    padding: 10px 20px;
}   /*css 조건 4번 만족*/

th {
    font-weight: 300;
}

h3 {
    font-weight: 300;
    padding-left: 5px;
    line-height: 5px;
}

table {
    text-align: center;
    border: 1px solid rgb(228, 39, 200);
}

a {
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(228, 39, 200);
    color: rgb(244, 219, 27);
    padding: 5px 5px;
}