@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-display: auto;
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #206e35;
}


/* * {
    margin: 0px;
    padding: 0px;
    font-family: 'GmarketSansMedium';
} */


/* reset.css로 대체 */


/* css 조건 4번 만족 */

.playContainer {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    position: relative;
}

.playBox {
    width: 576px;
    height: 725px;
    margin-top: 12px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.playTxt_title {
    font-size: 45px;
    width: 360px;
    height: 78px;
    padding-top: 16px;
    margin: 0 auto;
    color: var(--main-color);
}

.playTableWrap {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.playTable,
.playTh,
.playTd {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

.playTable {
    border-radius: 10px;
}

.album {
    width: 50px;
}

.playTh {
    background-color: rgb(241, 241, 241);
    color: var(--main-color);
}

.color {
    background-color: rgb(241, 241, 241);
}

.play_a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 12px;
}

.play_a:hover {
    color: darkorange;
}