/* css 조건 4번 만족 */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'omyu_pretty';
    /* css 조건 3번 만족 */
    background-color: rgb(156, 196, 221);
}