@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;  /*css조건4. 웹 폰트*/
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    text-align: center;
}

hr {
    background-color: rgb(17, 0, 203);
    height: 1px;
}

a {
    margin-left: 40px;
    font-size: 20px;
}

div {
    margin-left: 50px;
}

.hs {
    border-radius: 50%;
}

p {
    line-height: 150%;
    font-size: 17px;
}

h4 {
    margin-left: 40px;
    color: rgb(95, 84, 218);
}

body {
    font-family: 'SOYOMapleBoldTTF';
    background-image: url(https://blogfiles.pstatic.net/20160403_157/wkao9489_1459683245545foK0K_JPEG/NaverBlog_20160403_203404_06.jpg);
    background-size: cover; /*css조건3. background-image*/
}