@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal; /*css조건4. 웹 폰트*/
}

form {
    margin-left: 30px;
}

textarea {
    margin-left: 30px;
}

input {
    margin-left: 30px;
}

body {
    font-family: 'SOYOMapleBoldTTF';
    background-image: url(https://blogfiles.pstatic.net/20160403_157/wkao9489_1459683245545foK0K_JPEG/NaverBlog_20160403_203404_06.jpg);
    background-size: cover; /*css조건3. background-image*/
}