/*css 조건 2번 만족*/


@import url("home/profile.css");
@import url("home/nav.css");
@import url("introduce/hobby.css");
@import url("pick/title.css");
@import url("pick/description.css");


/*css 조건 4본 만족*/
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BMJUA';
}
