/* css 조건 1번 만족 */
/* css 조건 2번 만족 */
/* css 조건 5번 만족 */

/* css 조건 4번 만족 */
@font-face {
    font-family: 'YClover-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'YClover-Bold';
}

/* css 조건 3번 만족 */
nav {
    border: 1px solid rgb(177, 177, 177); 
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1); 
    border-radius: 50px;
    height: 50px;
    padding: 10px;
    margin: 7cqb;
    background-color: rgb(202, 202, 202);
    text-align: center;
}

nav a {
    margin: 10px; 
}

a {
    font-size: 20pt;
}

/* css 조건 3번 만족 */
.right {
    /* background-color: rgb(253, 253, 238); */
    background-image: url('https://photo.s3.com.tw/look/Upload/BlogArticleImages/13890/20211117085611302_700_0_80.jpg');
    background-size: cover;
    border: 1px solid rgb(235, 235, 235); 
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7); 
    height: 1500px;
    padding: 70px;
    margin: 70px;
    border-radius: 20px;
    display: block;
    text-align: center;
}

.right form {
    width: 600px;
    height: 600px;
    padding: 100px auto;
    margin: 100px auto;

    border: 1px solid black
}

.right input[type="button"] {
    width: 300px;
    height: 100px;
    font-size: 30pt;
    border-radius: 10px;
    border: 1px solid gray;
}

.right input[type="title"] {
    width: 400px;
    height: 40px;
    font-size: 10pt;
    margin: 20px;
}

.right input[type="date"] {
    width: 250px;
    height: 30px;
    font-size: 15pt;
    margin: 20px;
    margin-top: 80px;
}

.right textarea {
    width: 400px;
    height: 200px;
    font-size: 15pt;
    padding: 10px;
    margin: 20px;
}

.right hr {
    width: 90%;
}

.right h1 {
    text-align: center;
    padding-left: 300px;
    color: palevioletred;
    font-size: 70pt;
}

hr {
    width: 600px;
    border: olid 3px black;
}

h2 {
    text-align: left;
    padding-left: 320px;
    font-size: 25pt;
}

h3 {
    text-align: left;
    padding-left: 1050px;
    font-size: 20pt;
}

h4 {
    text-align: left;
    padding-left: 1000px;
    font-size: 40pt;
    line-height: 0.5;
    color: pink;
}

h5 {
    text-align: center;
    padding-left: 300px;
    font-size: 10pt;
}

/* 인스타 이미지 */
img[src="https://i.namu.wiki/i/PpCUHjc8PoAlAWoSip-m3KtgYMq7Ft1sI2BiCioMrclYCFdnjCEVKdPyXJ3yqXgHjgboqOp-8Q9z71WTisQy_A.svg"] {
    width: 50px;
    height: 50px;
    padding-left: 300px;
    padding-bottom: 50px;
    display: inline;
}

/* 블로그 이미지 */
img[src="https://mblogthumb-phinf.pstatic.net/MjAyMDA4MDFfMTg0/MDAxNTk2MjkzNjAxMDU4.ZaLufMbKlqFkjZ54DnV_GCRS_eFaa6SSW0BdzhhLVx0g.lsfIx3noKbe-vrCwpPtKscTh607BD80xXcAEMZamQ68g.PNG.iwebsoft/%EB%84%A4%EC%9D%B4%EB%B2%84-%EB%B8%94%EB%A1%9C%EA%B7%B8%EB%A1%9C%EA%B3%A0.png?type=w800"] {
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-bottom: 25px;
    display: inline;
}

/* 이메일 아이콘 */
img[src="https://cdn.icon-icons.com/icons2/2108/PNG/512/email_icon_130945.png"] {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 50px;
    display: inline;
}

/* 전화 아이콘 */
img[src="https://cdn-icons-png.flaticon.com/512/159/159684.png"] {
    width: 50px;
    height: 50px;
    padding-left: 40px;
    padding-bottom: 50px;
    display: inline;
}

.homepage {
    float: left;
    padding-left: 100px;
    margin: 20px;
}

form {
    text-align: center;
}